@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat';
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    padding: .8em 1.2em;
}


header {
    display: flex;
    justify-content: space-between;
}

header nav img {
    width: 20px;
    height: 20px;
}

header ul {
    display: flex;
    justify-content: space-around;
}

header ul li a {
    padding: 0 1em;
}



.main-container {
    padding: 10em 0 0 0;
    width: 50%;
    text-align: center;
    margin: auto;
}


.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons p {
    background-color: #e9e9e9;
}


.language {
    display: flex;
    justify-content: space-between;
}


.search {
    overflow: hidden;
    
}

.search input[type=text] {
    width: 90%;
    border-radius: 20px;
    padding: 9px;
    

    font-size: 17px;
}





.footer-container {
    padding: 2em 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #e0e0e05e;
    position: absolute;
    content: "";
    
}

.upper-footer {
    padding: 0 1em;
}

.lower-footer {
    display: flex;
    justify-content: space-between;
}

.lower-footer ul {
    display: flex;
    /* justify-content: space-evenly; */
}

.lower-footer ul li a {
    padding: 0 1em;
}